.Slot.topLeft, .Slot.bottomRight {
font-family: "Inter", sans-serif;
margin: 20px 0 -40px 250px;
color: #022b38;
}

.Time {
margin: 0 50px;
}

.Slot.bottomLeft {
margin: 20px 275px;
color: #cc838b;
}

.Dashboard.dark input {
border-color: #022b38;
}
