configuration {
    modes: [window,drun,combi];
    show-icons: true;
    window-format: "   {t}";
    combi-display-format: "{text}";
    combi-modes: [window,drun];
}
@import "shared.rasi"

@theme "./themes/launchpad.rasi"
