configuration {
    hover-select: true;
    me-select-entry: "MousePrimary";
    me-accept-entry: "!MousePrimary";
    kb-page-next: "Page_Down,ScrollDown";
    kb-page-prev: "Page_Up,ScrollUp";
    ml-row-down: "";
    ml-row-up: "";
}
