VteTerminal, vte-terminal {
	padding: 10px;
}

#clock-button {
    padding: 0 3px;
}

#actions-button {
    font-size: 16px;
}

.xfce4-panel widget grid button.flat.toggle:checked {
    color: #f44e50;
}

#xfce4-notification-plugin image,
#pulseaudio-button,
.genmon_value {
    color: #dfdfdf;
}
