/* kill those pesky spacers */
.titlebar-spacer{ display: none !important; }

/* fix misalignment between vertical tabs and leftmost navbar button */
#navigator-toolbox {
  padding-left: 2px;
}

/* fix color of window buttons on linux */
.titlebar-buttonbox > toolbarbutton {
  &:hover > image {
    stroke: #ffffff !important;
  }
}

/* center url text */
#urlbar:not([breakout-extend]){ text-align: center; }
.urlbarView-url{ flex-grow: 0 !important; }

/* rounded urlbar, as well as its buttons */
#urlbar-background, #searchbar,
#tracking-protection-icon-container,
#identity-icon-box,
#identity-permission-box,
#urlbar-go-button,
.urlbar-page-action{
    border-radius: 1.2em !important;
}

/* rounded top left page corner */
:not([sizemode="fullscreen"]) #tabbrowser-tabpanels,
:not([sizemode="fullscreen"]) .browserStack>browser {
  border-top-left-radius: 10px !important;
}
/* make rounded corner same color as toolbar */
#tabbrowser-tabbox {
  outline: none !important;
  box-shadow: none !important;
  background-color: var(--toolbar-bgcolor);
}
/* hide rounded corner when fullscreen */
[inFullscreen] #tabbrowser-tabpanels, [inFullscreen] .browserStack>browser {
  border-radius: 0 !important;
  margin: 0 !important;
  /*transition: border-radius .5s !important;*/
}

#forward-button, #back-button, #reload-button {
  transition: opacity .12s !important;
}
/* only show navigation buttons when hovering navbar */
#navigator-toolbox:not(:hover) #forward-button,
#navigator-toolbox:not(:hover) #back-button,
#navigator-toolbox:not(:hover) #reload-button {
  opacity: 0 !important;
}

